/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoDal/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoDal/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoFactory/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoFactory/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoIdal/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoIdal/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoModel/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoModel/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoService/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoService/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoServiceTests/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoServiceTests/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoSqlHelper/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.AdoSqlHelper/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.bus/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.bus/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.model/obj
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.model/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.tool/bin
/pan.kaikj.wxsupermarket/pan.kaikj.wxsupermarket.tool/obj
