<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>团购费、会员费维权行动号召</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>

    <h1 class="headImg"><img src="images/headImg.png" /></h1>

    <div class="mainWrap">
        <div class="main">
            <form ng-app="myApp" ng-controller="myContro" name="addForm" id="addForm" class="ng-pristine ng-valid ng-scope" method="post" enctype="multipart/form-data">
                <ul class="quesstion">
                    <li>
                        <h2>1、第三方公司是否有权收取除房屋网签价格以外团购费、会员费或其他明目的费用？</h2>
                        <p>
                            答：2017年3月29日，成都市城乡房产管理局印发《成都市房地产开发销售中介行为专项整治工作实施方案》指出，中介机构代理销售商品房，要求在网签合同价格以外支付额外费用，或采取“电商”“报商”等合作模式，通过第三方收取除房屋网签价款以外的额外费用的行为，均属于不合法。
                        </p>
                    </li>
                    <li>
                        <h2>2、第三方公司违规收取团购费或会员费，法院是否有相关案例判定第三方公司退还费用？</h2>
                        <p>
                            答：是有的，在2017年12月“原告巫元明诉被告成都易屋之家科技有限公司服务合同纠纷一案一审民事判决书”。<a class="links" href="http://wenshu.court.gov.cn/content/content?DocID=e00fcd3e-1750-4e74-945a-a85600de2661">详情请点击查看</a>
                        </p>
                    </li>
                    <li>
                        <h2>3、通过法律途径上诉成功，第三方公司应退还哪些费用？</h2>
                        <p>
                            答：除退还团购费或会员费，第三方公司还应退还资金占用利息（例如：以15 000元为基数，按中国人民银行同期同档贷款利率计算，自2015年7月25日起计算至款清之日止）。
                            如果未按本判决指定的期间履行给付金钱义务，应当依照《中华人民共和国民事诉讼法》第二百五十三条规定，加倍支付延迟履行期间的债务利息。
                        </p>
                    </li>
                    <li>
                        <h2>4、如何加入此次维权行动？</h2>
                        <p>
                            答：加入微信群。由于通过二维码加入微信群超过100人后，便不能使用扫码加入，只能通过加微信好友后，邀请才能入群（询问在群的业主加好友或加负责人7-1301魏昕），进群后请备注自己所在的楼号及房号，例如：7-1301魏昕。
                        </p>
                    </li>
                    <li>
                        <h2>5、参与维权需要提供哪些证明材料？</h2>
                        <p>
                            答：姓名、楼号、房号、联系电话、购买日期、缴纳费用的第三方公司名称、收据、合同、Pos单（如果有相关录音或视频，请提供给某负责人）这将成为法律诉讼的有力证据。介于某些特殊原因致使业主没有上述材料，也请填写清楚，一起参与维权尽力为大家追回经济损失。
                        </p>
                    </li>
                    <li>
                        <h2>6、第三方有哪些？团购费各业主又缴纳了多少钱？</h2>
                        <p>
                            答：据实际了解：1.成都易屋之家科技有限公司；2.房多多；3.房江湖电商；多以团购费和会员费骗收在5千、1.5万、2万、5万不等。
                        </p>
                    </li>
                    <li>
                        <h2>7、部分业主担心维权是否影响到房屋收回或收回优惠折扣？</h2>
                        <p>
                            答：担心收回房屋和优惠更无从说起。购房的价格可是实实在在的写在的购房合同里，购房合同是购房双方、住建局、法律认可的，是具有法律效应的！不能因除购房合同以外不合法的团购费或会员费，就使得业主的合法购房合同都变成不合法了。
                        </p>
                    </li>
                    <li>
                        <h2>8、鉴于部分业主担心维权导致小区名声或房价下跌的情况说明！</h2>
                        <p>
                            答：此次维权行动是关系到业主的合法权益，追回业主经济损失。（毕竟大家的血汗钱不是大风刮来的）
                        </p>
                    </li>
                    <li>
                        <h2>9、此次维权行动的其他说明：</h2>
                        <div class="boxWrap">
                            <ol class="otherList">
                                <li>
                                    维权业主如果受到开发商或中介的威胁时，注意保护好自身安全，同时保留好相关录音或视频证据，到时直接发到房管局打黑除恶专用邮箱，并通过打黑除恶电话投诉举报。 <a class="links" href="https://www.cdfgj.gov.cn/SH_htmlpage.html">详情请点击查看</a>
                                    <br />成都市扫黑办举报电话：028—61880673、86408000　　举报邮箱：<a class="links" href="mailto:cdsaohei@163.com">cdsaohei@163.com</a>
                                </li>
                                <li>
                                    关于维权行动所产生的相关费用，均由参与维权行动的业主均摊，费用使用情况都应在微信群中公示。
                                </li>
                                <li>
                                    为保护各业主提交的个人信息安全，将只有维权发起人和相关负责人有权查看。
                                </li>
                                <li>
                                    因目前维权团队没有选出主要的负责同志，加上部分业主在外地，维权行动总得有一些挑大旗的人，来承担更多的责任，操更多的心。希望大家积极参与维权行动，维护自身权益。欢迎自荐，为做一件正义且有意义的事情自豪。
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li style="margin-top:20px;">
                        <h2>10、信息提交</h2>
                        <div class="formWrap">
                            <div class="row">
                                <div class="col-md-6 col-md-4">
                                    <div class="form-group">
                                        姓名:
                                        <input type="text" class="form-control" maxlength="30" placeholder="姓名" id="userName" name="userName" ng-model="model.userName">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-4">
                                    <div class="form-group">
                                        手机号码:
                                        <input type="tel" class="form-control" maxlength="=11" placeholder="手机号码" id="telNum" name="telNum" ng-model="model.telNum">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-4">
                                    房号：
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-6">
                                            <select class="form-control" selected="" name="buildNum" id="buildNum" ng-model="model.buildNum">
                                                <option value="1">1栋</option>
                                                <option value="2">2栋</option>
                                                <option value="3">3栋</option>
                                                <option value="5">5栋</option>
                                                <option value="6">6栋</option>
                                                <option value="7">7栋</option>
                                                <option value="8">8栋</option>
                                                <option value="9">9栋</option>
                                                <option value="10">10栋</option>
                                                <option value="11">11栋</option>
                                                <option value="12">12栋</option>
                                                <option value="13">13栋</option>
                                                <option value="15">15栋</option>
                                                <option value="16">16栋</option>
                                                <option value="17">公寓</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="房号" id="roomNum" name="roomNum" ng-model="model.roomNum">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-md-4">
                                    第三方收款公司名称：
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="50" placeholder="第三方收款公司名称" name="thirdPartyCompanyName" id="thirdPartyCompanyName" ng-model="model.thirdPartyCompanyName">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-4">
                                    <div class="form-group">
                                        缴费类型：
                                        <select class="form-control" selected="" name="buildNum" id="buildNum" ng-model="model.amountType">
                                            <option value="1">团购费</option>
                                            <option value="2">会员费</option>
                                            <option value="3">服务费</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-4">
                                    <div class="form-group">
                                        金额：
                                        <input type="number" class="form-control" placeholder="金额，例：50000" name="payAmount" id="payAmount" ng-model="model.payAmount">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-4">
                                    <div class="form-group">
                                        购买日期：
                                        <input readonly="readonly" onclick="WdatePicker({ el: this, dateFmt: 'yyyy-MM-dd' })" type="datetime" class="form-control" placeholder="购买日期，例：2016-01-01" name="payDate" id="payDate" ng-model="model.payDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row last_row">
                                <div class="col-sm-4">
                                    您在哪？
                                </div>
                                <div class="col-md-8 selectAct" id="domicile" ng-model="model.domicile">
                                    <a class="domicile current" href="javascript:void(0)">成都</a>
                                    <a class="domicile " href="javascript:void(0)">外地</a>
                                </div>
                            </div>
                            <div class="row last_row">
                                <div class="col-sm-4">
                                    您留存了哪些证具？
                                </div>
                                <div class="col-md-8 selectAct" id="evidences" ng-model="model.evidences">
                                    <a class="evidences current" href="javascript:void(0)">收据</a>
                                    <a class="evidences" href="javascript:void(0)">合同</a>
                                    <a class="evidences" href="javascript:void(0)">Pos单</a>
                                    <a class="evidences" href="javascript:void(0)">录音</a>
                                    <a class="evidences" href="javascript:void(0)">视频</a>
                                    <a class="evidences" href="javascript:void(0)">无</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="butn">
                    <input type="button" id="submit" class="btn btn-primary" value="提交" ng-click="submit()">
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="inCount">
            <div class="value">
                蜀ICP备16000902<br>
                2004-<label id="copyrightEndDate">2018</label>
                盘开科技 版权所有
            </div>
            <div class="verisign">

            </div>
        </div>
    </div>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">

        //designWidth:设计稿的实际宽度值，需要根据实际设置
        //maxWidth:制作稿的最大宽度值，需要根据实际设置
        //这段js的最后面有两个参数记得要设置，一个为设计稿实际宽度，一个为制作稿最大宽度，例如设计稿为750，最大宽度为750，则为(750,750)
        ; (function (designWidth, maxWidth) {
            var doc = document,
                win = window,
                docEl = doc.documentElement,
                remStyle = document.createElement("style"),
                tid;

            function refreshRem() {
                var width = docEl.getBoundingClientRect().width;
                maxWidth = maxWidth || 540;
                width > maxWidth && (width = maxWidth);
                var rem = width * 100 / designWidth;
                remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
            }

            if (docEl.firstElementChild) {
                docEl.firstElementChild.appendChild(remStyle);
            } else {
                var wrap = doc.createElement("div");
                wrap.appendChild(remStyle);
                doc.write(wrap.innerHTML);
                wrap = null;
            }
            //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
            refreshRem();

            win.addEventListener("resize", function () {
                clearTimeout(tid); //防止执行两次
                tid = setTimeout(refreshRem, 300);
            }, false);

            win.addEventListener("pageshow", function (e) {
                if (e.persisted) { // 浏览器后退的时候重新计算
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 300);
                }
            }, false);

            if (doc.readyState === "complete") {
                doc.body.style.fontSize = "16px";
            } else {
                doc.addEventListener("DOMContentLoaded", function (e) {
                    doc.body.style.fontSize = "16px";
                }, false);
            }
        })(750, 750);

        $(".domicile").click(function () {
            $(".domicile").removeClass("current");
            $(this).addClass("current");
        });

        $(".evidences").click(function () {
            if ($(this).hasClass("current")) {
                $(this).removeClass("current");
            } else {
                $(this).addClass("current");
            }
        });

        var app = angular.module("myApp", ['ngMessages']);
        app.controller("myContro", function ($scope) {
            $scope.model = {
                buildNum: "1",
                amountType:"1"
            };

            //提交表单接受函数
            $scope.submit = function () {
                $scope.model.payDate = $("#payDate").val();
                //// 做数据合法性验证
                if (!$.trim($scope.model.userName)) {
                    alert("姓名必填！");
                    return;
                }

                if (!$.trim($scope.model.telNum)) {
                    alert("手机号码必填！"); return;
                }

                if (!$.trim($scope.model.roomNum)) {
                    alert("房号必填！"); return;
                }

                if (!$.trim($scope.model.payAmount)) {
                    alert("金额必填！"); return;
                }

                if (!$.trim($scope.model.payDate)) {
                    alert("购买日期必填！"); return;
                }

                //// 获取居住地
                $scope.model.domicile = $("#domicile .current").text();

                //// 获取证据类型
                var evidences = $("#evidences .current");
                if (evidences) {
                    for (var i = 0; i < evidences.length; i++) {
                        $scope.model.evidences = (i > 0 ? ($scope.model.evidences + "、") : "") + $(evidences[i]).text();
                    }
                }

                var para = "userName=" + $scope.model.userName +
                    "&telNum=" + $scope.model.telNum +
                    "&buildNum=" + $scope.model.buildNum +
                    "&roomNum=" + $scope.model.roomNum +
                    "&thirdPartyCompanyName=" + $scope.model.thirdPartyCompanyName +
                    "&payAmount=" + $scope.model.payAmount +
                    "&payDate=" + $scope.model.payDate +
                    "&domicile=" + $scope.model.domicile +
                    "&evidences=" + $scope.model.evidences +
                    "&amountType=" + $scope.model.amountType 
                    
                $.ajax({
                    url: "AdminOrder/addMeth?" + para,
                    type: "post",
                    data: para,
                    error: function (request) {//请求失败之后的操作
                        alert("提交失败！");
                    },
                    success: function (data) {//请求成功之后的操作
                        if (data == "-1") {
                            window.location.href = '../Login/Index';
                        } else {
                            if (data) {
                                var dataObj = $.parseJSON(data);
                                if (dataObj) {
                                    if (dataObj["errcode"] == "0") {
                                        $("#addForm")[0].reset();
                                    }
                                    alert(dataObj["errmsg"]);
                                }
                            } else {
                                alert("提交失败！");
                            }
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
