<link href="../Content/formPag.css" rel="stylesheet" />
<div class="console-title-border console-title">
    <div class="pull-left">
        <h5>产品管理</h5>
        <h5 style="border-left: none">&gt;</h5>
        <h5 style="border-left: none">新增产品类别</h5>
    </div>
</div>
<div class="valueCount-body listOutCount">
    <form ng-app="myApp" ng-controller="myContro" name="addForm" id="addForm"
          class="ng-pristine ng-valid ng-scope" method="post" enctype="multipart/form-data">
        <div class="oneListCount-body">
            <div class="title">上级产品类别：</div>
            <div class="value">
                <div style="float: left;">
                    <select id="supclassid" name="supclassid" ng-model="model.supclassid">
                        @{
                            <option value="0">主类</option>
                            List<pan.kaikj.wxsupermarket.AdoModel.Mproductclass> modelList = ViewData["AllPersonClass"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.Mproductclass>)ViewData["AllPersonClass"];
                            foreach (var item in modelList)
                            {
                                <option value="@item.classid">@item.classname</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="oneListCount-body">
            <div class="title">类别名称：</div>
            <div class="value">
                <div style="float: left;">
                    <input ng-model="model.classname" name="classname" type="text" id="classname" class="w250" required="required">
                </div>
                <div class="warning alert">*</div>
                <div class="warning alert" ng-messages="addForm.classname.$error">
                    <span class="warning"
                          ng-message="required">该项必填</span>
                </div>
            </div>
        </div>
        <div class="oneListCount-body">
            <div class="title">优先级：</div>
            <div class="value">
                <div style="float: left;">
                    <input ng-model="model.priority" name="priority" type="number" id="priority" class="w250" required="required">
                </div>
                <div class="warning alert">*</div>
                <div class="warning alert" ng-messages="addForm.priority.$error">
                    <span class="warning"
                          ng-message="required">该项必填</span>
                </div>
            </div>
        </div>
        <div class="oneListCount-body">
            <div class="title">图片：</div>
            <div class="value">
                <div style="float: left;">
                    <input type="file" id="productimgurl" name="productimgurl">
                </div>
            </div>
        </div>
        <div>
            <input type="button" id="submit" class="submitBut" value="保存" ng-click="submit()" ng-disabled="addForm.$invalid">
            <label style="color: #f00;" id="message" class="alert"></label>
        </div>
    </form>
</div>

<script src="../Scripts/jquery-form.js"></script>
<script src="../Scripts/angular.min.js"></script>
<script src="../Scripts/angular-messages.min.js"></script>
<script type="text/javascript">
    var thisPagClass = "pagclass0702";

    var app = angular.module("myApp", ['ngMessages']);
    app.controller("myContro", function ($scope) {
        $scope.model = {
            supclassid: "0",
            classname: "",
            priority: 10
        };

        //提交表单接受函数
        $scope.submit = function () {
            if ($scope.addForm.$valid) {
                var paramData = "supclassid=" + $scope.model.supclassid + "&classname=" + $scope.model.classname + "&priority=" + $scope.model.priority;
                $("#addForm").ajaxSubmit({
                    url: "../AdminProduct/AddProductclassMeth",//这是我在后台接受数据的文件名
                    type: "post",
                    data:paramData,
                    error: function (request) {//请求失败之后的操作
                        alert("操作失败！");
                    },
                    success: function (data) {//请求成功之后的操作
                        if (data == "-1") {
                            window.location.href = '../Login/Index';
                        } else {
                            if (data) {
                                var dataObj = $.parseJSON(data);
                                if (dataObj) {
                                    if (dataObj["errcode"] == "0") {
                                        //// 操作成功：重置表单
                                        document.getElementById("addForm").reset()
                                    }

                                    alert(dataObj["errmsg"]);
                                }
                            } else {
                                alert("操作失败！");
                            }
                        }
                    }
                });
            }
        }
    });
</script>