<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 商城</title>
</head>
<link href="../Content/comm.css" rel="stylesheet" />
<body style="padding-top:0px;">
    @RenderBody()
    <div class="footer">
        <div class="inCount">
            <div class="value">
                蜀ICP备16000902<br>
                2004-<label id="copyrightEndDate">2018</label>
                盘开科技 版权所有
            </div>
            <div class="verisign">

            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>