
<link href="../Content/listPag.css" rel="stylesheet" />
<link href="../Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
<div class="console-title-border console-title">
    <div class="pull-left">
        <h5>订单管理</h5>
        <h5 style="border-left: none">&gt;</h5>
        <h5 style="border-left: none">订单列表</h5>
    </div>
</div>
<div class="listOutCount" ng-app="myApp" ng-controller="myContro">
    <div class="select-body w1000 h120">
        <div class="condition-body w1000 h120">
            <div class="condition-oneCount w1000 h40">
                <div class="condition-one">
                    <div class="condition-title w80">开始日期:</div>
                    <div class="condition-value w90">
                        <input class="Wdate w90" type="text" onclick="WdatePicker({ el: this, dateFmt: 'yyyy-MM-dd' })" id="startDate">
                    </div>
                </div>
                <div class="condition-one">
                    <div class="condition-title w80">结束日期:</div>
                    <div class="condition-value w90">
                        <input class="Wdate w90" type="text" onclick="WdatePicker({ el: this, dateFmt: 'yyyy-MM-dd' })" id="endDate">
                    </div>
                </div>

                <div class="condition-one w200">
                    <div class="condition-title w80">用户名称:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.userName" placeholder="请输入用户名称" />
                    </div>
                </div>
                <div class="condition-one w200">
                    <div class="condition-title w80">产品名称:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.productname" placeholder="请输入产品名称" />
                    </div>
                </div>
            </div>

            <div class="condition-oneCount w1000 h40">
                <div class="condition-one w200">
                    <div class="condition-title w80">订单组ID:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.groupOrderId" placeholder="订单组ID" />
                    </div>
                </div>
                <div class="condition-one w200">
                    <div class="condition-title w80">订单ID:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.orderId" placeholder="订单ID" />
                    </div>
                </div>
                <div class="condition-one w230">
                    <div class="condition-title w80">订单状态:</div>
                    <div class="condition-value w140">
                        <select id="subscribe" name="subscribe" ng-model="condition.orderState">
                            <option value="0">All</option>
                            <option value="1">新订单，等待支付</option>
                            <option value="2">取消支付，交易结束</option>
                            @*<option value="3">支付成功，等待送货</option>*@
                            <option value="4">下单成功，等待送货</option>
                            @*<option value="5">取消交易，等待退款</option>
                            <option value="6">退款完成，交易结束</option>*@
                            <option value="7">送货中</option>
                            <option value="8">确认收货，交易结束</option>
                        </select>
                    </div>
                </div>
                <div class="select-subButCount h40 w200">
                    <div class="subBut lh35" id="searchBut" ng-click="selectFun()">
                        查询
                    </div>
                </div>
            </div>

            <div class="condition-oneCount w1000 h40">
                <div class="select-subButCount h40 w180">
                    <div class="subBut lh35" id="searchBut" ng-click="batchDeliveryOpert()" style="width:150px;">
                        批量设置为已完成
                    </div>
                </div>
                <div class="select-subButCount h40 w180">
                    <div class="subBut lh35" id="searchBut" ng-click="batchCancleOpert()" style="width:150px;">
                        批量设置为已取消
                    </div>
                </div>
                <div class="select-subButCount h40 w400">
                    
                    <div class="condition-title w80">送货员：</div>
                    <div class="condition-value w140">
                        <select id="subscribe" class="w120" style="float:left;" name="subscribe" ng-model="condition.sendGoodsUser">
                            @{
                                List<pan.kaikj.wxsupermarket.AdoModel.MsendGoodsUser> modelList = ViewData["AllSendGoodUserList"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.MsendGoodsUser>)ViewData["AllSendGoodUserList"];
                                if (modelList != null && modelList.Count > 0)
                                {
                                    foreach (var item in modelList)
                                    {
                                        if (!string.IsNullOrEmpty(@item.id))
                                        {
                                            <option value="@item.id">@item.userName</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                        <div class="subBut lh35 w150" style="float:right; width:150px;" id="searchBut" ng-click="batchSendGoodsOpert()">
                            设置批量送货
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="solidLin w1100"></div>
    <div class="valueList-body w1100">
        <div class="valueList-headCount w1100">
            <div class="one w20">
                <input type="checkbox" id="selectAll"/>
            </div>
            <div class="one w90">订单组ID</div>
            <div class="one w90">订单ID</div>
            <div class="one w90">用户名称</div>
            <div class="one w120">产品名称</div>
            <div class="one w70">产品售价</div>
            <div class="one w50">数量</div>
            <div class="one w70">订单总价格</div>
            <div class="one w70" style="line-height:20px;margin-top:2px;">要求送<br />货时间</div>
            <div class="one w90">订单状态</div>
            <div class="one w200">送货地址信息</div>
            <div class="one">操作</div>
        </div>
        <div class="valueList-valueCount w1100" id="valueListCount" style="display: none;">
            <div ng-repeat="model in modelList" class="ng-scope w1100">
                <div class="valueList-oneLinValueCount w1100">
                    <div class="one w20">
                        
                        <input type="checkbox" style="display:{{model.orderState==2||model.orderState==6||model.orderState==8?'none':'display'}}" name="checkBox" id="{{model.orderid}}" />
                    </div>
                    <div class="one w90">{{model.orderGroupId}}</div>
                    <div class="one w90">{{model.orderid}}</div>
                    <div class="one w90">{{model.userName}}</div>
                    <div class="one w120">{{model.productname}}</div>
                    <div class="one w70">{{model.sellPrice|number:2}}</div>
                    <div class="one w50">{{model.buyNum}}</div>
                    <div class="one w70">{{model.totalPrice|number:2}}</div>
                    <div class="one w70">{{model.requireDeliveryTime}}</div>
                    <div class="one w90">{{model.orderStateDesc}}</div>
                    <div class="one w200">{{model.mailAddress}}</div>
                    <div class="one ">
                        <div class="w70 h16" style="display:{{model.orderState==2||model.orderState==6||model.orderState==8?'none':'display'}}">
                            <a href="unsafe:javascript:void(0);" ng-click="deliveryOpert(model.orderid)">设置已完成</a>
                        </div>
                        <div class="w70 h16">
                            <a target="_blank" ng-href='../AdminOrder/orderDetail?id={{model.orderid}}'>查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="solidLin"></div>
            </div>
        </div>
        <div class="solidLin"></div>
        <div id="pagCount" style="display: none;">
            <div class="innerCount">
                <div class="onePageC pageBut" ng-click="SearchFunPageBut('FirstPage')" id="FirstPage" go_value="1">FirstPage</div>
                <div class="onePageC pageBut" ng-click="SearchFunPageBut('PreviPage')" id="PreviPage" go_value="5">PreviPage</div>
                <div class="onePageC pageBut" ng-click="SearchFunPageBut('NextPage')" id="NextPage" go_value="6">NextPage</div>
                <div class="onePageC pageBut" ng-click="SearchFunPageBut('LastPage')" id="LastPage" go_value="-1">LastPage</div>
                <div class="pagInputC" id="gotopagCount">
                    go to specific page:<input type="text" class="positInt w50" id="goPagInput" value="1">
                    <input type="button" value="Go" class="" id="goPagBut" ng-click="SearchFunGoPagBut()">
                </div>
            </div>
            <div class="totalNumCount">符合要求的数据总条数为：<label id="totalNum">0</label></div>
        </div>
    </div>
</div>

<script src="../Scripts/angular.min.js"></script>
<script src="../Scripts/PagForAngular.js"></script>
<script src="../Scripts/My97DatePicker/WdatePicker.js"></script>
<script src="../Scripts/AdminOrder/List.js"></script>

<script type="text/javascript">
    var myDate = new Date();
    var thisDataTime = getNowFormatDate();
    var beforMonthData = getPreMonth(thisDataTime);
    $("#startDate").val(beforMonthData);
    $("#endDate").val(thisDataTime);

    $("#selectAll").change(function () {
        if ($(this).is(':checked')) {
            $('input:checkbox[name=checkBox]').attr("checked", true);//or
        } else {
            $('input:checkbox[name=checkBox]').attr("checked", false);//or
        }
    });
</script>