<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>吧啦啦便利店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Content/amazeui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/style.css?tim=200606" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/commMarkt.css" rel="stylesheet" />
    <script src="~/Scripts/comm.js?tim=200606"></script>
    <script src="~/Scripts/amazeui.min.js"></script>
</head>
<body>
    <header style="width:70%;margin-top:60px;left:15%;right:15%;" data-am-widget="header" class="am-header am-header-default sq-head ">

        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1731310b4e797831&redirect_uri=@ViewData["PalteWebSite"]/market/IndexPage&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect" class="" style="background-color:#39b867;color: #ffffff;line-height:49px;width:100px;text-align:center;">
            <h1 class="am-header-title" style="background-color:#39b867;margin: 0;width: 100%;text-align: center;height: 49px;line-height: 49px;">
                微信登录
            </h1>
        </a>

    </header>

    <div class="botCount" id="botCount">
        <script type="text/javascript">
            //// 底部事件
            $(function () {
                initBotom(2);
            });
        </script>
    </div>

</body>
</html>
