
<link href="../Content/listPag.css" rel="stylesheet" />

<div class="console-title-border console-title">
    <div class="pull-left">
        <h5>送货员管理</h5>
        <h5 style="border-left: none">&gt;</h5>
        <h5 style="border-left: none">送货员列表</h5>
    </div>
</div>
<div class="listOutCount" ng-app="myApp" ng-controller="myContro">

    <div class="select-body w800 h40">
        <div class="condition-body w450 h40">
            <div class="condition-oneCount w450 h40">
                <div class="condition-one w180">
                    <div class="condition-title w50">姓名:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.userName" placeholder="请输入姓名" />
                    </div>
                </div>
                <div class="condition-one w250">
                    <div class="condition-title w100">手机号码:</div>
                    <div class="condition-value">
                        <input type="text" class="w120" ng-model="condition.phon" placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>
        </div>
        <div class="select-subButCount h40">
            <div class="subBut lh35" id="searchBut" ng-click="selectFun()">
                查询
            </div>
        </div>
    </div>
    <div class="solidLin"></div>

    <div class="valueList-body w500">
        <div class="valueList-headCount w500">
            <div class="one w200">姓名</div>
            <div class="one w120">手机号码</div>
            <div class="one w80">性别</div>
            <div class="one">操作</div>
        </div>
        <div class="valueList-valueCount w500" id="valueListCount">
            <div ng-repeat="model in modelList" class="ng-scope">
                <div class="valueList-oneLinValueCount w600">
                    <div class="one w200">{{model.userName}}</div>
                    <div class="one w120">{{model.phone}}</div>
                    <div class="one w80">{{model.sex=="1"?"男":(model.sex=="2"?"女":"未知")}}</div>
                    <div class="one w80">
                        <div class="w70 h16">
                            <a href="unsafe:javascript:void(0);" ng-click="deleteOpert(model.id)">删除</a>
                        </div>
                        <div class="w70 h16">
                            <a href="../SndGoodsUser/Add?id={{model.id}}">编辑</a>
                        </div>
                    </div>
                </div>
                <div class="solidLin"></div>
            </div>
        </div>
    </div>
</div>

<script src="../Scripts/angular.min.js"></script>
<script src="../Scripts/PagForAngular.js"></script>
<script type="text/javascript">
    var pagIndex = 1;  //// 页码
    var orderBy = ""; //// 排序方式
    var thisPagClass = "pagclass0601";
    var app = angular.module("myApp", []);
    app.controller("myContro", function ($scope) {
        //// 数据初始化
        $scope.condition = {
            productname: "",
            shelfstate: "0"
        }

        //// 单击查询事件
        $scope.selectFun = GetAndShowData;

        //// 单击删除事件
        $scope.deleteOpert = deleteOpert;

        //// 分页控件页码单击事件
        $scope.SearchFunPageBut = function (butId) {
            orderBy = "";
            pagIndex = $("#" + butId).attr("go_value");

            //// 获取显示数据
            GetAndShowData();
        }

        //// 跳转至指定页码事件
        $scope.SearchFunGoPagBut = function () {
            orderBy = "";
            pagIndex = $("#goPagInput").val();
            var Regx = /^[0-9]+$/;

            if (!Regx.test(pagIndex)) {
                alert("The page must be numeric!");
                return;
            } else {
                //// 获取显示数据
                GetAndShowData();
            }
        }

        //// 分页查询数据
        function GetAndShowData() {
            $.ajax({
                cache: true,//保留缓存数据
                type: "get",//为post请求
                url: "../SndGoodsUser/GetSndGoodsUserListMeth",//这是我在后台接受数据的文件名
                data: "pagIndex=" + pagIndex + "&phon=" + $scope.condition.phon + "&userName=" + $scope.condition.userName,//将该表单序列化
                async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error: function (request) {//请求失败之后的操作
                    alert("操作失败！");
                },
                success: function (data) {//请求成功之后的操作
                    if (data == "-1") {
                        window.location.href = '../Login/Index';
                    } else {
                        if (data) {
                            var dataObj = $.parseJSON(data);
                            $scope.$apply(function () {
                                $scope.modelList = dataObj["dataList"];
                                DoPagShow(dataObj);
                            });
                        }
                    }
                }
            });
        }

        //// 删除事件
        function deleteOpert(id) {
            $.ajax({
                cache: true,//保留缓存数据
                type: "get",//为post请求
                url: "../SndGoodsUser/DeletSndGoodsUserByIdMeth",//这是我在后台接受数据的文件名
                data: "id=" + id,//将该表单序列化
                async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error: function (request) {//请求失败之后的操作
                    alert("操作失败！");
                },
                success: function (data) {//请求成功之后的操作
                    if (data == "-1") {
                        window.location.href = '../Login/Index';
                    } else {
                        if (data) {
                            var dataObj = $.parseJSON(data);
                            if (dataObj) {
                                if (dataObj["errcode"] == "0") {
                                    //// 操作成功：重新绑定数据
                                    $scope.selectFun();
                                }

                                alert(dataObj["errmsg"]);
                            }
                        } else {
                            alert("操作失败！");
                        }
                    }
                }
            });
        }
    });
</script>