<div style="width:100%;height:100%;position:fixed;">
    <div style=" top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        width: 600px;
        height: 40px;
        text-align:center;
        line-height: 40px; position: fixed;
        font-size:18px;color:#0026ff;font-weight:bolder;">
        @ViewData["platformName"]欢迎 @Session["adminusername"]
    </div>
</div>
<script type="text/javascript">
    var thisPagClass = "pagclass0101";
</script>